{erl_opts, [debug_info]}.

{deps, [
    {'cowboy', ".*", {
        git,
        "git://github.com/extend/cowboy.git",
        {tag, "2.8.0"}
    }},
    {'jsone', ".*", {
        git,
        "git://github.com/sile/jsone.git",
        {branch, "master"}
    }},
    {'uuid', ".*", {
        git,
        "git://github.com/okeuday/uuid.git",
        {branch, "master"}
    }},
    {sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}
]}.

{relx, [
    {release, {erlagar, "0.1.0"}, [
        erlagar,
        sasl
    ]},

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.

{project_plugins, [erlfmt]}.
